body{
    width: 100%;
    margin: auto;
}
#nav_bar{
    border: 0px solid orange;
    background-color: 
    #172132;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
   
    }
#nav_bar>#menu{
    width: 50%;
    border: px solid white;
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
}
#menu>a{
    color: white;
    border: px solid wheat;
}
#menu>a>img{
    border: px solid pink;
}
#logo{
    color: white;
    margin-left: 20%;
    border: px solid white;
    width: 10%;  
    font-size: 30px;
}
#menu>a:nth-child(1)>img{
    margin-left: 30px;
}
#menu>a:nth-child(2)>img,#menu>a:nth-child(3)>img{
    margin-left: 15px;
}

#menu>a:nth-child(4)>img,#menu>a:nth-child(5)>img,#menu>a:nth-child(8)>img{
    margin-left: 5px;
}

#menu>a:nth-child(6)>img,#menu>a:nth-child(7)>img{
    margin-left: 10px;
}
#menu>a:nth-child(9)>img{
    margin-left: 4px;
}

/* Sliding window */
#sliding{
    border: 0px solid black;
    height: 300px;
    background-color: 
    #af2c30;
    /* margin-left: -10px;
    margin-right: -10px; */
    padding-top: 30px;
    
    
}
#container{
    border: 1px solid white;
    width: 45%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 1px 15px 0px 15px;
  
}
#container>div:nth-child(3){
    margin-top: 10px;
}
#container>h3{
    margin-bottom: 5px;
}
#venue{
    color: grey;
    
}
#schedule{
    display: flex;
    justify-content: space-between;
    border: 0px solid rgb(223, 212, 3);
}

.flag{
    height: 20px;
}

#ftm{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#DandT{
    border: 0px solid rgb(15, 37, 198);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 50%;
}
#tlft{
    border: 0px solid black;
    margin-top: 10px;
    width: 18%;
    border-radius: 12px;
    padding: 3px;
    background-color: #feead9;
    color: #837970;
}
#line{
    border: 0px solid blue;
    height: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#red_line{
   border: 0px solid red;
   height: 1px;
   width: 50%;
}
#green_line{
    border: 0px solid green;
    height: 1px;
    width: 50%;
 }
#percentage{
    border: 0px solid rgb(53, 191, 26);
    display: flex;
    justify-content: space-between;
}
#team_name{
    border: 0px solid orchid;
    display: flex;
    justify-content: space-between;
    color: grey;
}

/* match summary section */

#M-container{
    border: px solid #172132;
    width: 65%;
    margin: auto;
    margin-top: -20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
#C-nav_bar{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #172132;
    height: 50px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 23px;
}

#lower{
    border: px solid red;
    display: flex;
}
#C-L{
    border: px solid rgb(0, 89, 255);
    background-color: #172132;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.bm_img{
    border: px solid white;
    width: 30%;
    position: relative;
   
}
.bm_img>img{
    border: px solid white;
   position: absolute;
   bottom: 0;
}
#batsman{
    border: px solid grey; 
    display: flex;
    color: white;
}
#bm_score{
    border: px solid white;
    display: flex;
    align-items: center;
    
}
#bm_performance{
    border: px solid rgb(219, 24, 213); 
    height: 80%;
    margin-top: 60px;
    height: 100px;

}
#flag_img1{
    border:px solid white ; 
    width: 20%;
    margin-right: -25px;
}
.f_and_n{
    border:px solid white;
     font-size: 20px;
     width:45%; 
     margin: auto
}
#f_n{
    border:px solid blanchedalmond;
    display: flex;
    padding-left: 10px;
    
}
#rbsf{
    border:px solid white;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 20px;
}
#bm-run{
    padding: 5px 15px 5px 15px;
    background-color: #2f3847;
    border-radius: 15px;
}
.padding{
    padding: 5px 15px 5px 15px;
}
#bowler{
    border: 1px solid grey; 
    display: flex;
    color: white;
}
#flag_img2{
    border:px solid white ; 
    width: 20%;
    margin-right: -20%;
}
#flag_img2>img{
   width: 100%;
}
#br{
border: px solid white;
display: flex;
justify-content: space-between;
width: 70%;
font-size: 20px;
align-items: center;
margin-left: 10px;
margin-bottom: 15px;
}
#br_status{
    font-size: 20px;
    border: px solid white;
    width: 80%;
    text-align: center;
}
#C-R{
    border: px solid black;
    width: 50%;  
}
#team_SA{
    border: px solid red;
}
.team_nav{
    border: px solid rgb(117, 9, 156);
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    
}
.team_nav>div{
    display: flex;
    border: px solid black;
    align-items: center;
    font-weight: bold;
}
.team_nav>div>img{
    width: 15%;
}
.team_nav>div>img+div{
    margin-left: 20px;
}
.team_score{
    color: grey;
    display: flex;
}
.team_score>div{
    color: #aa1b1b;
    margin-right: 8px;
    font-weight: bold;
}
.bat_ball{
    border: px solid green;
    display: flex;
    line-height: 30px;
    
}
.bat_ball>div{
    border: px solid orange;
    padding: 10px;
    width: 100%;
    
}
.bat_ball>div>div{
    border: px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    
   
}

/* Featured Videos */

#f_videos{
    border: px solid black;
    width: 65%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20px;
}
#f_nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 20px 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-bottom: 20px;
}
#f_container{
    display:flex ;
    padding: 10px;
    margin: auto;
}
.f_box{
    border: px solid red;
    width: 30%;
    margin: auto;
    height: 220px;
}
.f_box img{
    width: 100%;
    
}